*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
   
}

img{
    
    margin-left:44%;
    margin-top:36px;
    
}

h1{
   margin-left:37%;
   margin-top:15px;
   font-size:24px;
   color:#242C33
}

#myform{
    height:550px;
    width:380px;
    /* border:3px solid green; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:15px;
    margin:auto;
    margin-top:20px;
    margin-top:30px;
    padding:15px;

}

input{
   
    display:block;
  margin-left:20px;
  padding:10px;
  width:70%;
  margin-top:10px;
  margin-bottom:20px;
  border-radius:5px;
  outline: none;
 
   
}
p{
    margin-left:20px;
 
    font-size:12px;
    color:#505C66;
  
}



#btn{
   
    margin-top:20px;
    background-color:#0D5AB9;
    border-radius:10px;
    box-shadow:0px;
    color:white;
    width:70%;
    box-sizing: content-box;
    
}
label{
margin-left:20px;
color:#4B5563;
font-size:14px;

}P+input+p{
    margin-left:17%;
    font-size:14px;
}
a{
    color:#2563EB
}
form+p{
    text-align: center;
    font-size: 16px;
    margin-top:10px;
    color:#9CA3AF;
}
label+a{
margin-left:28%;
text-decoration: none;
font-size:14px;
}
#new{
    display:inline;
    width:89%;
    outline:none;
    border:none;
    font-size:15px;
    color:black;
    background-color:white;
   
   
    
  
}
#newdiv{
    border:1px solid rgb(232, 242, 232);
    width:75%;
    
    display:flex;
    height:60px;
    margin-left:21px;
   
}
#gg{
    height:20px;
    margin-left:18px;
    margin-top:19px;
}
.acc{
    font-size: 14px;
    padding:40px;
}